.footer {
  /* background: #181718; */
  background: #253238;

  height: 50px;
  padding: 20px;
  margin-top: 20px;
}

.footer-menu,
.footer-copyright {
  /* color: #575d68; */
  color: #aaa;
}

.footer-copyright {
  padding: 15px;
}
