.row {
  display: flex;
}
.left {
  flex: 0 0 65%;
  padding: 10px 0;
}

.right {
  flex: 0 0 35%;
  padding: 10px;
}

.checkout-btn {
  width: 75%;
  background: #243238;
  color: #575d68;
}

.checkout-btn:hover {
  background: #575d68;
  color: #243238;
}

.total {
  color: #e35a76;
}

hr {
  border: #e35a76;
}
