.form-container {
  margin: 50px auto;
  width: 50%;
}
.signup-form {
  background: #aeb6c5;
  color: #000;
}
.controls {
  color: #fff;
  background: #253238;
}

mat-card,
mat-form-field {
  background: #232323;
}
